<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	
	<style type="text/css">
		body {
	    	background-color: lightblue;
		}
		h3,h4 {
			color: navy;
			margin-left: 1em;
		}
		.buttons {
			display: inline-block;
			width: 25%;
			margin-left: 2em;
			margin-bottom: 5em;
			margin-top: 1em;
		}
	</style>
</head>
<body>
	<h3>{{ request.session.firstname }}, all reports are displayed below.</h3>
	<div>
		<table class="table table-striped" id="reportTable">
			<tr>
				<th>Report Name</th>
				<th>Summary</th>
				<th>Description</th>
				<th>Public/Private</th>
				<th>Time of Creation</th>
				<th>Owner</th>
				<th>File(s)</th>
				<th></th>
			</tr>
			{% for report in reports %}
				<tr> 
					<td class="rName">{{report.reportname}}</td>
					<td class="rSum">{{ report.summary }}</td>
					<td class="rDesc">{{ report.description }}</td>
					<td class="rIsPrivate">{{ report.isprivate }}</td>
					<td class="rTimeCreation">{{ report.timestamp }}</td>
					<td class="rOwner">{{report.owner}}</td>
					<td class="rFiles">
						{% for r in reportfiles %}
							{% ifequal report.reportname r.reportname %}
								{% ifequal r.isencrypted 0%}
									<form id="{{r.uploadfile_id}}" method="POST" action="download_unencrypted_files">
										{% csrf_token %}
										<input id="fileToDownload" name="fileToDownload" type="hidden" value="{{r.uploadfile}}">
										<button type="submit" class="btn btn-link">{{ r.uploadfile }}</button>
									</form>
								{%else%}
									<p style="margin-left:10px;font-size:10pt;">{{r.uploadfile}}</p>
								{%endifequal%}
							{% endifequal %}
						{% endfor %}
					</td>
					<td>
						<div>
							<button onclick="return getId(this.id);" id="{{report.reportname}}" class="button" data-toggle="modal" data-target="#deleteReport" style="font-size:8pt; margin-top: 7px;">Delete</button>
						</div>
					</td>
				</tr>
			{% endfor %}
		</table>
	</div>
	<div class="buttons">
		<a class="btn btn-primary btn-lg" href="admin_manage_reports">Return to Manage Reports</a>
	</div>
	<div class="modal fade" id="deleteReport" tabindex="-1" role="dialog" aria-labelledby="myModalLabelComplete">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h3 class="modal-title" id="myModalLabel">Delete Report</h3>
					</div>
					<form id="deleteForm" method="POST" action="admin_delete_report">
						{% csrf_token %}
						<h4>Are you sure you would like to delete this report?</h4>
						<button type="submit" class="btn btn-default" onclick="modal">Delete Report</button>
						<input type="hidden" name="foldername" value="{{folderName}}">
					</form>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		var SHOW = "{{ show }}";
		var SHOW2 = "{{show2}}";
		$(document).ready(function(){
		    // Show the Modal on load
		    if (SHOW != "") { 
		    	$("#editFiles").modal("show");
		    }
		    if (SHOW2 != "") {
		    	$("#addReports").modal("show");
		    }
		});
	</script>
	<script type="text/javascript">
		form_count = 0;//$("[extra_field_count]");
		// get extra form count so we know what index to use for the next item.
		function addFileSubmit() {
		    element = $('<br>{{ fileForm.uploadfile }}');
		    element.attr('name', 'extra_field_' + form_count);
		    element.appendTo(".files")

		    element2 = $('<label style="margin-right:10px;" for="isencrypted">Encrypted</label>{{fileForm.isencrypted}}');
		    element2.attr('name', 'extra_isencrypted_' + form_count)
		    element2.appendTo(".files")

		    form_count++;
		    $("[name=extra_field_count]").val(form_count);
		}
		
	</script>
	<script type="text/javascript">
		$(".buttonModifyReport").click(function() {
		    var rName = $(this).closest("tr").find(".rName").text();
		    var rSum = $(this).closest("tr").find(".rSum").text();
		    var rDesc = $(this).closest("tr").find(".rDesc").text();
		    var rEnc = $(this).closest("tr").find(".rEnc").text();
		    var rIsPrivate = $(this).closest("tr").find(".rIsPrivate").text();
		    document.getElementById('reportnameid').value = rName;
		    document.getElementById('summaryid').value = rSum;
		    document.getElementById('descriptionid').value = rDesc;
		    document.getElementById('containsencryptedid').value = rEnc;
		    document.getElementById('isprivateid').value = rIsPrivate;
		});
	</script>
	<script type="text/javascript">
		$(document).ready(function(){

		$('#modifyForm').submit(function(){
			if ($("#modifyForm").data("changed")) {
				var RLIST = {{ reportNames|safe }};
				var newName = document.getElementById('reportnameid').value;

				for (i = 0; i < RLIST.length; i++) {
					if (RLIST[i] == newName) {
						alert("A report with that name already exists. Please enter a different name.");
						return false;
					}
				}
			} 
			$("<input type='text' value='' />")
		    	.attr("id", ID)
		    	.attr("name", "oldreportname")
		    	.attr("value", ID)
		    	.attr("type", "hidden")
		    	.appendTo("#modifyForm");
			return true;
		});

		});
	</script>
	<script type="text/javascript">
		$(document).ready(function(){

		$('#deleteForm').submit(function(){
			$("<input type='text' value='' />")
		    	.attr("id", ID)
		    	.attr("name", "deleteReport")
		    	.attr("value", ID)
		    	.attr("type", "hidden")
		    	.appendTo("#deleteForm");
			return true;
		});
		});
	</script>
	<script type="text/javascript">
		$(document).ready(function(){

		$('#removeReportForm').submit(function(){
			$("<input type='text' value='' />")
		    	.attr("id", ID)
		    	.attr("name", "deleteReport")
		    	.attr("value", ID)
		    	.attr("type", "hidden")
		    	.appendTo("#removeReportForm");
			return true;
		});
		});
	</script>
	<script type="text/javascript">
		$(document).ready(function(){

		$('#addFiles').submit(function(){
			$("<input type='text' value='' />")
		    	.attr("id", ID)
		    	.attr("name", "fileeditreportname")
		    	.attr("value", ID)
		    	.attr("type", "hidden")
		    	.appendTo("#addFiles");
			return true;
		});
		});
	</script>
	<script type="text/javascript">
		$(document).ready(function(){

		$('#removeFiles').submit(function(){
			$("<input type='text' value='' />")
		    	.attr("id", ID)
		    	.attr("name", "fileeditreportname")
		    	.attr("value", ID)
		    	.attr("type", "hidden")
		    	.appendTo("#removeFiles");
			return true;
		});
		});
	</script>
	<script type="text/javascript">
		$(document).ready(function(){

		$('#editGroupsForm').submit(function(){
			$("<input type='text' value='' />")
		    	.attr("id", ID)
		    	.attr("name", "editgroupsreportname")
		    	.attr("value", ID)
		    	.attr("type", "hidden")
		    	.appendTo("#editGroupsForm");
			return true;
		});
		});
	</script>
	<script type="text/javascript">
		var ID;
		function getId(id) {
			ID = id;
		}
	</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384- 0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>
</html>
