<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  
  <style type="text/css">
    body {
    background-color: lightblue;
    }
    h2,h3,h4, p {
    color: navy;
    margin-left: 1em;
    }
    .buttons {
    display: inline-block;
    width: 25%;
    margin-left: 2em;
    margin-bottom: 5em;
    margin-top: 1em;
    }
    </style>
</head>


<h2>Your Message:</h2>
<p>If message is blank, then it was encrypted and was not properly decrypted. Try again with the proper private key.</p>

<div>
  <table class="table table-striped" id="messageTable">
    <tr>
      <th onclick="return f();">Sender</th>
      <th>Subject</th>
      <th>Time Sent</th>
      <th>Message</th>
      <th></th>
      </tr>
{%ifequal encmsg True%}
    <tr> 
      <td class="rSend">{{message.sender}}</td>
      <td class="rSub">{{message.subject}}</td>
      <td class="rTime">{{message.created }}</td>
      <td class="rEncr">{{messagebody}}</td>
    </tr>
{%else%}
    <tr> 
      <td class="rSend">{{message.sender}}</td>
      <td class="rSub">{{message.subject}}</td>
      <td class="rTime">{{message.created }}</td>
      <td class="rEncr">{{message.body}}</td>
    </tr>
{%endifequal%}
  </table>
</div>

<div class="buttons">
      <a class="btn btn-primary btn-sm" href="messages">Return to Inbox</a>
</div>
<div class="buttons">
      <a class="btn btn-primary btn-sm" href="member_home_page">Home Page</a>
</div>

</html>