<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

  <style type="text/css">
    body {
    background-color: lightblue;
    }
    h3,h4 {
    color: navy;
    margin-left: 1em;
    }
    .buttons {
    display: inline-block;
    width: 25%;
    margin-left: 2em;
    margin-bottom: 5em;
    margin-top: 1em;
    }
    </style>
</head>
<body>
    {{message.body}}
</body>

<html>
