<html>
    <form action="sign_user_in" method="POST">
        {% csrf_token %}
	{% if form.errors %}
		{% for field in form %}
			{% for error in field.errors %}
				<div class="alert alert-error">
					<strong>{{ field.name }}</strong>
					<strong>{{ error|escape }}</strong>
				</div>
			{% endfor %}
		{% endfor %}
		{% for error in form.non_field_errors %}
			<div class="alert alert-error">
				<strong>{{ error|escape }}</strong>
			</div>
		{% endfor %}
	{% endif %}
	{{ form }}	
	Username: <br>
        <input type="text" name="username"><br>
        Password: <br>
        <input type="text" name="password"><br>
	Email: <br>
	<input type="text" name="email"><br>
	<!-- First name: <br>
	<input type="text" name="fname"><br>
	Last name: <br> 
	<input type="text" name="lname"><br> -->
        <input type="submit" value="Submit"><br>
    </form>
</html>
