<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<style type="text/css">
		body {
	    	background-color: lightblue;
		}
		h3,h4 {
			color: navy;
			margin-left: 1em;
		}
		.buttons {
			margin-left: 1em;
			margin-top: 1em;
		}
		
	</style>
</head>
<body>
	<div>
		<h3>Manage Reports in Folders</h3>
	</div>
	<div>
		<h4>{{request.session.firstname}}'s Folders: </h4>
	</div>
	<div class="list-group" style="margin-left:1em; margin-right:50em;">
		{% for folder in folders %}
			{% ifequal folder.owner request.session.username %}
				<!-- <a href="manage_reports" class="list-group-item">{{ folder.foldername }}</a> -->
				<form method="POST" action="view_reports">
					{% csrf_token %}
					<input type="hidden" name="foldername" value="{{folder.foldername}}">
					<button type="submit" class="list-group-item">{{folder.foldername}}</button>
					<!-- <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="">Delete</button>
					<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="">Rename</button>
					<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="">Add Reports</button> -->
				</form>
			{% endifequal %}
		{% endfor %}
	</div>
	<div>
		<div class="buttons">
			<button id="createFolderButton" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#createFolder">Create A New Folder</button>
		</div>
		<!-- TODO: MOVE ABILITY TO ADD REPORTS TO A FOLDER INTO THE FOLDER PAGE ITSELF -->
		<div class="buttons">
			<button id="addReportsButton" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#addReports">Add Reports To A Folder</button>
		</div>
		<div class="buttons">
			<a class="btn btn-primary btn-lg" href="manage_reports">Return to Manage My Reports</a>
		</div>
	</div>
	<div class="modal fade" id="createFolder" tabindex="-1" role="dialog" aria-labelledby="myModalLabelComplete">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h3 class="modal-title" id="myModalLabel">Create Folder</h3>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<form id="createFolderForm" method="POST" action="create_folder"> <!-- action="create_folder" -->
							{% csrf_token %}
							<div>
								<label for="foldername">Folder Name: </label><br>
								{{ form.foldername }}
							</div>
							<div>
								<label for="reports">Please enter the names of the report(s) to put in the folder, separated by commas: </label>
								<p style="color: red;">{{ form.reports.errors|striptags }}</p>
								{{ form.reports }}
							</div>
							<div style="margin-top:30px;">
								<button type="submit" class="btn btn-default" onclick="modal">Create Folder</button>
							</div>
						</form>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="addReports" tabindex="-1" role="dialog" aria-labelledby="myModalLabelComplete">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h3 class="modal-title" id="myModalLabel">Add Reports to a Folder</h3>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<form id="createFolderForm" method="POST" action="add_reports_folder">
							{% csrf_token %}
							<div>
								<label for="foldername">Folder Name: </label><br>
								<p style="color: red;">{{ form.foldername.errors|striptags }}</p>
								{{ form.foldername }}
							</div>
							<div>
								<label for="reports">Please enter the names of the report(s) to put in the folder, separated by commas: </label>
								<p style="color: red;">{{ form.reports.errors|striptags }}</p>
								{{ form.reports }}
							</div>
							<div style="margin-top:30px;">
								<button type="submit" class="btn btn-default" onclick="modal">Add Reports</button>
							</div>
						</form>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		var SHOW = "{{ show }}";
		var SHOW2 = "{{ show2 }}";
		$(document).ready(function(){
		    // Show the Modal on load
		    if (SHOW != "") { 
		    	$("#createFolder").modal("show");
		    }
		    if (SHOW2 != "") {
		    	$("#addReports").modal("show");
		    }
		});
	</script>
	<script type="text/javascript">
		$(document).ready(function(){
			$('#createFolderForm').submit(function(){
				var folderList = {{folderInfo|safe}};
				var userName = "{{request.session.username}}";
				var folderName = document.getElementById('foldernameid').value;
				for (i=0; i<folderList.length;i++) {
					if (folderList[i][0] == folderName && folderList[i][1] == userName){
						alert("You already have a folder with that name. Please choose a different name.");
						return false;
					}
				}
				return true;
			});
		});
	</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384- 0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script> 
</body>
</html>